*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    color: #267E1B;
    font-family: 'Albert sans', sans-serif;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700;

}
#main_conteiner{

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
   justify-content: center;
    align-items: center;
    
}
#first_row{
margin-top: 50px;
display: flex;
flex-direction: row;
justify-content: center;
gap: 200px;

}
#second_row{
    display: flex;
flex-direction: row;
justify-content: center;
gap: 200px;
margin-top: 100px;
}
.activity_containers{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    text-align: center;
    transition: ease-in-out 0.3s;


}
.activity_containers:hover{
.activity_img{
    width: 170px;
    height: 170px;
    cursor: pointer;
}
}
.num1{
    background-color: rgb(207, 199, 199);
}
.num2{
    width: 113px;
    height: 113px;
    background-color: rgb(247, 187, 76);
}
.num3{
    background-color: rgb(51, 194, 51);
}
.num4{
    background-color: rgb(180, 95, 33);
}
.num5{
    background-color: rgb(111, 177, 13);
}
.num6{
background-color: rgba(206, 177, 115, 0.966);
}
.num7{
    background-color: rgb(162, 240, 214);
}
.num8{
    background-color: #1e6e13;
}
.activity_img{
    width: 150px;
    height: 150px;
    transition: ease-in-out 0.5s;
}

.activity_name{
font-family:'Albert sans', sans-serif ;
color: #666;
font-weight: 400;
font-size: 11px;
}
#botones{
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 15px;
    
}

#siguiente{
background-color: white;
color: #267E1B;
border-radius: 5px;
border: solid #267E1B 0.5px;
font-family: 'Albert sans', sans-serif;
font-weight: 800;
width: 90px;
height: 30px;
margin-bottom: 25px;
transition: ease-in-out 0.3s;
}
#omitir{
margin-right: 150px;
font-family: 'Albert sans', sans-serif;
width: 90px;
height: 30px;
font-weight: 800;
color: #666;
background-color: white;
border: none;
margin-bottom: 25px;
transition: ease-in-out 0.5s;
}

#siguiente:hover{
cursor: pointer;
background-color: #267E1B;
color: white;
border: solid white 0.5px;
}
#omitir:hover{
cursor: pointer;
border-radius: 5px;
border: solid #666 0.5px;

}