*{
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
}

/* encabezado */
header{
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

/* logo encabezado */
#logotipo{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin-left: 3em;
}

#logotipo a{
    text-decoration: none;
    color: black;
}

#logotipo a:visited{
    text-decoration: none;
}

#logotipo a:hover{
    color: #558a39;

}

#logo{
    width: 3rem;
    height: 4rem;
}
#turista{
    font-size: 0.6rem;
    display: flex;
    color: #666;
    justify-self: center;
}

/* botones interactivos/parte derecha del encabezado*/

#parte_derecha{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    flex-direction: row;
    gap: 1.8em;
    margin-right: 3em;
}





/* botones */
#parte_derecha button{
    width: 12em;
    height: 3em;
    border: 1px solid;
    border-radius: 6px;
}

#cuenta{
    background-color: #267E1B;
    color: white;
    font-weight: 600;
    width: 300px;
}

#cuenta a{
    color: white;
    text-decoration: none;
}
#cuenta a:hover{
    color: #267E1B;
    
}
#cuenta:hover{
    cursor: pointer;
    background-color: white;
    border: solid #267E1B 0.5px;
    
}

/* dropdown */
#dropdown{
    width: 2.5rem;
    height: 3rem;
    
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;    
    gap: 20px;
}
#titulo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 36%;

}
#titulo p{
    font-size: 0.7rem;
    color: #666;
    text-align: left;

}
#titulo h1{
    color: #267E1B;
    font-weight: 500;
    font-size: 40px;
    text-align: left;
    
}
#ojo{
    width: 20px;
    height: 20px;
}

.input_align{
    
    display: flex;
    flex-direction: column;
    
}
label{
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 4px;
    text-align: left;
}
input{
    width: 35vw;
    height: 40px;
    border-radius: 5px;
    border: solid #666 0.5px;
}

#ojoycont1{
display: flex;
flex-direction: row;
gap: 400px;
}
#ojoycont2{
    display: flex;
    flex-direction: row;
    gap: 325px;
}

#align_indicaciones{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #666;
}
#align_indicaciones li{
 text-align: left;
}
button{
    width: 35vw;
    height: 40px;
    background-color: #267E1B;
    color: white;
    border-radius: 5px;
    border: none;
    transition: ease-in-out 0.3s;
}
button:hover{
background-color: white;
color: #267E1B;
border: solid #267E1B 0.5px;
cursor: pointer;

}