/* estilos generales */
*{
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
}

/* encabezado */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    z-index: 9999;
}

/* logo encabezado */
#logotipo{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin-left: 3em;
}
/* enalce encabezado */
#logotipo a{
    text-decoration: none;
    color: black;
}

#logotipo a:visited{
    text-decoration: none;
}

#logotipo a:hover{
    color: #558a39;

}

/* foto logo */
#logo{
    width: 3rem;
    height: 4rem;
}

/* botones interactivos/parte derecha del encabezado*/

#parte_derecha{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    flex-direction: row;
    gap: 1.8em;
    margin-right: 3em;
}

/* barra de busqueda */

#buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

#buscador p{
    font-size: 16px;
    font-weight: 400;
}

#buscar{
    width: 1.8em;
    height: 1.5em;
    margin-right: -5px;
    
}

#buscador:hover{
    cursor: pointer;
}

/* dropdown busqueda */
#search{

    width: 100%;
    height: 12em;
    background-color: #ffffff;
    display: none;
    z-index: 9999;
    opacity: 0;
    transition:  0.5s ease, max-height 0.5s ease;  
}
/* input de busqueda */
#search input{
    margin: 0 auto;
    width: 80%;
    height: 18%;
    padding: 0.5em;
    font-size: 20px;
    border:2px solid  #267E1B;
    color: #267E1B;
    background-color: #ffffff;
    position: relative;
    top: 51%;
    left: 10%;
    border-radius: 8px;
    animation: fadeIn 0.5s ease-in-out;
}

#serach input:focus {
    outline: none;    
    border: none;      
    box-shadow: none; 
  }

/* Animacion de Input */

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/* botones */
#parte_derecha button{
    width: 8em;
    height: 3em;
    border: 1px solid;
    border-radius: 6px;
}
/* boton de registro */
#register_btn{
    background-color: #267E1B;
    color: white;
    font-weight: 600;
}

#register_btn:hover{
    cursor: pointer;
    background-color: white;
    color: #267E1B;
}

/* boton de iniciar sesion */
#loguin_btn{
    background-color: white;
    border-color: #267E1B;
    color: #267E1B;
    font-weight: 700;
}

#loguin_btn:hover{
    background-color: #267E1B;
    color: white;
    cursor: pointer;

}

/* dropdown/menu hamburguesa */
#dropdown{
    width: 2.5rem;
    height: 3rem;
    
}

#dropdown:hover{
    cursor: pointer;
}

/* responsive navbar */
@media (max-width: 1023px){

    .button_header{
        display: none;
    }
    #dropdown img{
        width: 4rem;
        height: 4.5rem;
    }
}

@media (max-width: 767px){
    #logotipo{
        margin-left: 1em;
        width: 20%;
    }
    #parte_derecha{
        margin-right: 1em;
    }

}
/* fin responsive */


/* flecha de regreso_Inicio_pag */
#botonArriba {
    position: fixed;
    bottom: 20px;
    right: 0;
    display: none;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
    background: none;
    
  }
  
#botonArriba img:hover {
    transform: scale(1.1);
  }

#botonArriba img{
    width: 3em;
    height: 3em;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
    background-color: #ffffff;
}
/* Fin flecha de regreso_Inicio_pag */

/* seccion_01 */

    #seccion_01{
        width: 100%;
        height: 40rem;
        background-color: #ffffff;
        margin-top: 4.375em;

    }

    #seccion_mejores_destinos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #contenedor_mejores_destinos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    #parte_izquierda_slider{
        width: 50%;
        height: 100%;
        margin: auto;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        background: #ffffff;
        
    }

    .carousel-container_mejores_destinos {
        overflow: hidden;
        width: 100%; 
    }

    .slider-center-large {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        overflow: hidden;
        width: 100%;
        margin: auto;
    }

    /* sitios a mostrar */
    /* imagenes */
    .slider-center-large .item {
        display: none;
        flex-shrink: 0;
        transition: transform 0.5s, opacity 0.5s;
        order: 3;
    }

    .slider-center-large .item.large {
        display: flex;
        order: 1;
        overflow: hidden; 
        border-radius: 8px; 
    }
    
    .slider-center-large .item.large img {
        width: 13em;
        height: 30em;
        transform: scale(1.1);
        opacity: 1;
        border-radius: 15px;
        object-fit: cover;
    }
    

        .slider-center-large .item.small-left,
        .slider-center-large .item.small-right {
        display: flex;
        order: var(--order);
        }
        .slider-center-large .item.small-left { --order: 0; }
        .slider-center-large .item.small-right { --order: 2; }

        .slider-center-large .item.small-left img,
        .slider-center-large .item.small-right img {
        width: 13em;
        height: 30em;
        transform: scale(0.8);
        opacity: 1;
        border-radius: 8px;
        object-fit: cover;
        }

/* parte derecha populares */
#parte_derecha_titulo{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-right:2em ;
    background-color: #ffffff;
}

.titulos_mejores_sitios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#parte_derecha_titulo h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.buscar{
    position: relative;
}

.buscar input{
    width: 30em;
    height: 3em;
    padding: 6px;
    border: 2px solid #267E1B;
    border-radius: 50px;
}

input::placeholder {
    font-size: 16px;
}

.lupe {
    width: 2em;
    height: 2em;
    background: none;
    position: absolute;
    right: 12px;
    top: 10px;
}

#seccion_mejores_destinos .item h5,
#seccion_mejores_destinos .item p {
  display: none;
}


/* fin seccion_01 */



/* seccion_02 */

#seccion_02{
    width: 100%;
    height: auto;
    
}

/* sliders */

.slider{
    width: 100%;
    height: 20em;
    display: flex;
    background-color: #ffffff;
    position: relative;
}
/* contenedor del carrusel */
.contenedor_carrusel{
    width: 90%;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    
}

.contenedor_items{
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.visible a{
    text-decoration: none;
    cursor: pointer;
}

.visible:hover{
    text-decoration: underline;
}

/* flechas de traslado*/
.flecha {
    font-size: 3em;
    font-weight: bold;
    color: #208114;
    font-family: Arial, sans-serif;
}

.atras_btn{
    position: absolute;
    left: 3.5%;
    top: 35%;

}

.adelante_btn{
    position: absolute;
    right: 3.5%;
    top: 35%;
}
/* flechas en general */
.slider button{
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;

}

/* flechas sin la propiedad desactivado */
.slider:hover:not(.desactivado) {
    color: #249715;
}

/* flechas con la propiedad desactivado */
.slider button.desactivado{
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

/* imagenes*/

.visible{
    /* propiedad que reparte el width en 4 partes iguales */
    min-width: calc(100% / 4);
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.visible img{
    width: 20em;
    height: 13em;
    border-radius: 8px;
    object-fit: cover;
}

.visible h5{
    color: black;
    font-size: 1em;
    font-weight: bolder;
    margin: 0;
}

.visible p{
    color: #5c5959;
    margin: 0.2em 0;
}

/* responsive seccion_02 */

/* medidas promedio de tablet */
@media (max-width:1023px){
    .visible{
        /* propiedad que reparte el width en 4 partes iguales */
        min-width: calc(100% / 2);
    }


}

/* medida promedio celular */
@media (max-width:767px){
    .visible{
        min-width: calc(100% / 1);
    }
    .visible img{
        width: 100%;
    }
}
/* fin seccion_02 */



/* seccion_03 */
#seccion_03{
    margin-top: 5em;
    width: 100%;
    height: 35rem;
    background-color: #ffffff;
    
}

#contenedor_recomendaciones{
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
}

.title_recomendations{
    font-weight: 600;
    font-size: 30px;
    margin-left: 4em;
}

.imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.imagenes img{
    width: 18em;
    height: 23em;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card{
    position: relative;
}

.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: scale(0.95);
    border-radius: 8px;
}

.card:hover .info {
    opacity: 1;
    transform: scale(1);
    cursor: pointer;
  }
  
  .info h4 {
    font-size: 20px;
    margin-bottom: 0.5em;
  }
  
  .info p {
    font-size: 16px;
  }

  .card:hover .info p,h4{
    text-decoration: underline;
  }
/* fin seccion_03 */



/* Pie de Pagina */
.footer {
    border-top:1px solid #267E1B;
    background-color: #e4e4e4e6;
    color: hsl(0, 0%, 33%);
    padding: 40px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-col {
    flex: 1 1 200px;
    min-width: 200px;
  }
  
  .footer-col h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #333;
  }
  
  .footer-col h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .footer-col p {
    margin-bottom: 10px;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 8px;
  }
  
  .footer-col ul li a {
    text-decoration: none;
    color: #555;
  }
  
  .footer-col ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons a {
    margin-right: 10px;
    font-size: 1.2em;
    color: #4caf50;
  }
  
  .language-selector {
    margin-top: 10px;
    
  }
  
  .language-selector select {
    margin-left: 5px;
    padding: 5px;
    border-radius: 7px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #514f4f;
  }

