*{
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
}

/* encabezado */
header{
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

/* logo encabezado */
#logotipo{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin-left: 3em;
}

#logotipo a{
    text-decoration: none;
    color: black;
}

#logotipo a:visited{
    text-decoration: none;
}

#logotipo a:hover{
    color: #558a39;

}

#logo{
    width: 3rem;
    height: 4rem;
}

/* botones interactivos/parte derecha del encabezado*/

#parte_derecha{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    flex-direction: row;
    gap: 1.8em;
    margin-right: 3em;
}

/* barra de busqueda */

#buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

#buscador p{
    font-size: 16px;
    font-weight: 400;
}

#buscar{
    width: 1.8em;
    height: 1.5em;
    margin-right: -5px;
    
}

#buscar:hover{
    cursor: pointer;
}


/* botones */
#parte_derecha button{
    width: 8em;
    height: 3em;
    border: 1px solid;
    border-radius: 6px;
}

#cuenta{
    background-color: #267E1B;
    color: white;
    font-weight: 600;
    width: 300px;
}

#cuenta a{
    color: white;
    text-decoration: none;
}
#cuenta a:hover{
    color: #267E1B;
    
}
#cuenta:hover{
    cursor: pointer;
    background-color: white;
    border: solid #267E1B 0.5px;
}



/* dropdown */
#dropdown{
    width: 2.5rem;
    height: 3rem;
    
}

main{
    display: flex;
    flex-direction: row;
    
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.conteinerimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin: 0 auto;



}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.conteinerimg p{

    font-size: 35px;
    color: #267E1B;
    font-weight: bolder;

}
.conteinerimg a{
    text-decoration: none;
}